body {
    font:15px/1.5 Arial, Helevetica, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-image:url(background5.jpg);
    background-color: #2391B0;
    background-size: cover;
   
}
.container {
    overflow:hidden;
    margin:auto;
    
}


ul {
            margin: 0;
            padding: 0;
        }
 header {
            background: #353637;
            color: #fff;
            padding-top: 13px;
            border-bottom: 3px solid #32a0c2;
            margin-bottom: 20px;
            padding-bottom:20px;
    
}
header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }

        
header li {
            float: left;
            display: inline;
            padding: 0 20px 0 20px;
                 }
header #branding {
            float: left;
        }
header #branding h1 {
         margin: 0;
        }
        
header nav {
            float: right;
            margin-top: 10px;
        }
#plusIcon {
    
    color: #2391B0;
}
#box {
    text-align: center;
    margin-top: 150px
}
header .highlight {
    color: #2391B0;
            font-weight: bold;
}

#output {
    
    text-align: center;
    height:100%;
    width:100%;
}

h1 {
    text-align: center;
}


#examples {
    
text-align: center;
}

#showSteps {
    float:right;
    color: #2391B0;
    
    
}

#container {
    text-align: center;
     white-space: pre-line;
    font-size:18px;
       font-family:"Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

span {
    
    font-weight: bold;
     
} 
